@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
:root {
  --color-richBlack: #0F1A20;
  --color-spaceCadet: #1C2541;
  --color-cerulean: #0075A2;
  --color-lightBlue: #C1EEFF;
  --color-cadetGray: #88A2AA;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
